hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



.container-fluid.main-container{
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  padding:0;
  background-color: white;
}


.cd-fixed-bg {  
  min-height: 50vh;
  background-size: cover;
  background-attachment: center;
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  text-align: center;
  resize: both;
}



.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("website_img/hand_holding.jpg");
  padding: 1px 1px 1px;
}

/*
.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("website_img/organ_donation.jpg");
  padding: 1px 1px 1px;
}
*/

.cd-scrolling-bg {
  min-height: 100%;
}

.front-page-title{
  font-size: 4em;
  color: white;
  font-weight: bold;
}



.index_section {
  background-color: red;
}

.plot_description {
  text-align: center;
}

.plotting_main {
    width: 90%;
    background: clear;
    margin: auto;
    padding: 10px;
    border:0px; 
}

.single_map_plot{
  display: block
  width:100%;
}



.plot_1_plot {
    float: left;
    width:75%;
}
.plot_1_description {
    height: 100%;
    width:25%;
    float: right;
    background: clear;
    text-align: center;
    margin-top:7%;
}
 
.html-widget.html-widget-static-bound.js-plotly-plot{

} 
  
.plot_2_plot {
    float: right;
    width:75%;
}
.plot_2_description {
    height: 100%;
    width:25%;
    float: left;
    background: clear;
    text-align: center;
    margin-top:7%;
}


.plot_3_plot {
    display: block;
    width:100%;
    height:100%;
}
.plot_3_description {
    height: 100%;
    width:100%;
    display: block;
    background: clear;
    text-align: center;
    vertical-align: middle;
}


.slidecontainer {
    width: 80%;
    margin:auto;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 35px;
    background: #d3d3d3;
    border-radius: 25px;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #bf3e11;
    border-radius: 25px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #bf3e11;
    border-radius: 25px;
    cursor: pointer;
}